.container-mulheres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  height: calc(100vh - 80px);
}

.container-mulheres h1{
  text-align: center;
}

.blocos-videos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px 60px;
}

.bloco {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.video{
  display: flex;
  flex-direction: column;
  width: 350px;
  transition: all .5s ease-in;
}

.video iframe{
  transition: all .5s ease-in;
}

.video iframe:hover{
  transform: scale(1.1);
}

.video p{
  margin-top: 10px;
}
